$colors: (
  'primary': $primary,
  'success': $success,
  'failure': $failure,
  'meeting': $meeting,
);

@each $name, $color in $colors {
  .color-#{$name} {
    color: $color;
  }
}

body {
  font-family: $baseFont;
  color: #fff !important;
  background-color: #222;
}

h1,
h2,
h3 {
  font-family: $headerFont;
}

.lineseparator {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  height: 2px;
  width: 250px;
  &-main {
    background: linear-gradient(-90deg, $primary 0% 50%, #fff 50% 100%);
  }
}
